---
import Layout from "@/layouts/Layout.astro";
import ContactBody from "@/sections/contact/ContactBody.astro";
import Header from "@/sections/portfolio/Header.astro";
---

<Layout>
  <main>
    <Header title="Contact" />
    <ContactBody />
  </main>
</Layout>
