---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import About from "../sections/About.astro";
import Experience from "@/sections/Experience.astro";
import Education from "@/sections/Education.astro";
---

<Layout>
  <main>
    <Header />
    <About />
    <Experience />
    <Education />
  </main>
</Layout>
