---
import { Icon } from "astro-icon/components";
---

<a href="/portfolio" class="flex flex-wrap md:px-24 lg:px-48 mt-8 pl-6">
  <Icon name="mdi:arrow-left-thin" class=`w-6 h-6 text-black` />
  <p class="pt-[1px] pl-1">Back</p>
</a>
