---
interface Props {
  route: string;
  title: string;
  currentPath?: string;
}

const { route, title, currentPath } = Astro.props;
const isActive =
  route === "/"
    ? currentPath === route
    : currentPath?.startsWith(`${route}/`) || currentPath === route;

const classes = `${isActive ? "text-blue-300" : "text-white"} mt-3 text-center`;
---

<li class={classes}>
  <a href={route}>{title}</a>
</li>
