---
import ProgressBar from "./ProgressBar.astro";
interface Props {
  progress: number;
  title: string;
  subtitle: string;
}

const { progress, title, subtitle } = Astro.props;
---

<div>
  <p class="text-right">
    <span class="font-semibold">{title}</span>
    <span>({subtitle})</span>
  </p>
  <ProgressBar progress={progress} />
</div>
