---
interface Props {
  progress: number;
}

const { progress } = Astro.props;
---

<div class="relative mb-5">
  <div class="p-1 border border-blue-500 rounded-full shadow-md">
    <div
      class="flex items-center justify-center h-3 leading-none bg-blue-300 rounded-full"
      style=`width: ${progress}%;`
    >
      <span class="p-1 text-white"></span>
    </div>
  </div>
</div>
