---
import BackButton from "@/components/BackButton.astro";
import ProjectDetails from "@/sections/portfolio/project/ProjectDetails.astro";
import Layout from "@/layouts/Layout.astro";
import { getSingleProjectData } from "@/lib/getContent";
import Header from "@/sections/portfolio/Header.astro";
import ProjectScreenshots from "@/sections/portfolio/project/ProjectScreenshots.astro";

const { slug } = Astro.params;

const projectData = await getSingleProjectData(slug ?? "");
---

<Layout>
  <main>
    <Header title={projectData.title} />

    <BackButton />

    <div class="flex flex-wrap bg-white py-3 px-4 md:py-6 md:px-24 lg:px-48">
      <ProjectDetails projectData={projectData} />

      <ProjectScreenshots projectData={projectData} />
    </div>
  </main>
</Layout>
