---
import Projects from "@/sections/portfolio/Projects.astro";
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/portfolio/Header.astro";
---

<Layout>
  <main>
    <Header />
    <Projects />
  </main>
</Layout>
